
language: julia
sudo: required
dist: trusty
julia:
  - 0.4
  - 0.5
  - 0.6
  - nightly
matrix:
  allow_failures:
    - julia: nightly
notifications:
  email: false
before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y pdf2svg
  - wget https://github.com/scottkosty/install-tl-ubuntu/raw/master/install-tl-ubuntu && chmod +x ./install-tl-ubuntu
  - sudo ./install-tl-ubuntu -p test/texlive.profile
  - PATH=$PATH:/usr/local/texlive/2016/bin/x86_64-linux/
  - lualatex -v
after_success:
  - julia -e 'cd(Pkg.dir("TikzGraphs")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
